name: Release Mini Http Proxy Go

on:
  push:
    tags:
      - 'v*' # Si attiva quando fai il push di un tag che inizia con 'v'

permissions:
  contents: write # Permesso necessario per creare la release e caricare i file

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fondamentale per generare il changelog correttamente

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21' # O la versione che preferisci

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}